/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@font-face {
    font-family: Gilroy;
    src: url(../public/Gilroy-Regular.ttf);
}
:root{
    --skyblue: #44bbff; 
    --green: #4BC071;
    --purple: #9E58DC;
    --grey: #888888;
}
* {
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background: #121212; */
}
body[theme = light]
{
    background: #fff;
}
body[theme = dark]
{
    background: #121212;
}
.navbar {
    position: relative;
    height: 8vh;
    width: 100%;
    /* background: #fff; */
    display: flex;
    /* flex-wrap:nowrap; */
    justify-content: space-around;
    padding: 0 2vh;
    gap: 3vh;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid;
}

.svgLogo>svg>path {
    z-index: 2;
    animation: animate 8s both infinite;
}

.footer
{
    position: absolute;
    bottom: 0;
    height: 8vh;
    width: 100%;
    text-align: center;
    line-height: 8vh;
    /* font-weight: 500; */
    font-size: 2.5vh;
    /* border-top: 1px solid; */
}

@keyframes animate {
    0% {
        stroke-dashoffset: 0;
    }

    54% {
        stroke-dashoffset: 190;
        fill: transparent;
    }

    56% {
        stroke-dashoffset: 190;
        fill: transparent;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.btn,
.btn>svg {
    outline: none;
    background: transparent;
    border: none;
    height: 80%;
    width: fit-content;
    display: none;
    z-index: 2;
}

.rightMenu {
    display: flex;
    gap: 5vh;
    font-size: larger;
}

.rightMenu>li>a {
    text-decoration: none;
    color: #fff;
}
.footer>p{
    color:#fff;
}
/* Mobile */
@media (max-width: 875px) {
    .svgLogo>svg {
        height: 70%;
        /* background: #000; */
    }

    .btn,
    .btn>svg {
        display: block;
    }

    .rightMenu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 0%;
        backdrop-filter: blur(10px);
        align-items: center;
        width: 100%;
        opacity:0;
        padding: 5vh;
        border: 1px solid #fff;
        transition: all ease 0.25s;
        z-index: 1;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .footer{
        font-size: 2vh;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}