@font-face {
	font-family: Gilroy;
	src: url(../public/Fonts/Gilroy-Regular.ttf);
}

@font-face {
	font-family: baiBold;
	src: url(../public/Fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf);
}

@font-face {
	font-family: ceveat;
	src: url(../public/Fonts/Caveat/Caveat-VariableFont_wght.ttf);
}

@font-face {
	font-family: cairo;
	src: url(../public/Fonts/Cairo/static/Cairo-Light.ttf);
}

@font-face {
	font-family: baiRegular;
	src: url(../public/Fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf);
}

@font-face {
	font-family: baiLight;
	src: url(../public/Fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf);
}

:root {
	--skyblue: #44bbff;
	--green: #4bc071;
	--purple: #9e58dc;
	--grey: #888;
	--white: #fff;
}

::selection {
	background: var(--skyblue);
	color: var(--white);
}

* {
	margin: 0;
	padding: 0;
	font-family: "cairo";
	box-sizing: border-box;
	cursor: none;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #121212;
	color: var(--white);
}

.cursor {
	border: 10px solid;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 9 !important;
	font-weight: 600;
	font-size: 5px;
	border-radius: 50%;
	margin: -20px 0 0 -20px;
}

#navbar {
	position: sticky !important;
	top: 0%;
	left: 0;
	padding: 0 1.5vw 0 7.5vw;
	height: 10vh;
	width: 100%;
	backdrop-filter: blur(20px);
	border-bottom: 1px solid;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	z-index: 10;
}

.btn {
	display: none;
}

.logo {
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.nav-menu {
	padding: 0;
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	gap: 10px;
	backdrop-filter: blur(20px);
}

.nav-menu>.nav-link>a {
	color: var(---white);
	text-decoration: none;
	font-size: 25px;
}

.logo svg>path {
	stroke: 1px solid;
	stroke-dasharray: 190;
	stroke-dashoffset: 190;
	animation: animate 8s alternate infinite;
}

@keyframes animate {
	0% {
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dashoffset: 190;
		fill: transparent;
	}

	100% {
		stroke-dashoffset: 0;
	}
}

#home {
	height: 100vh;
	width: 100%;
	display: flex;
	z-index: 0;
	overflow-x: hidden;
}

#home .home-left {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.home-left .bigBlock {
	margin: 0;
	height: 75%;
	width: 100%;
	padding: 0 15vh;
	display: flex;
	gap: 0.5vh;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.heading,
p,
.btnBox {
	width: 100%;
}

.heading {
	font-size: 3.5vh;
	font-family: baiRegular;
	line-height: 5vh;
}

.heading>.name {
	font-family: ceveat;
	font-size: 5vh;
}

.bigBlock>p {
	font-size: 2.5vh;
}

.bigBlock>.btnBox {
	margin-top: 2vh;
	position: relative;
	width: fit-content;
}

.home-left>.smallBlock {
	display: flex;
	height: 25%;
	width: 100%;
	align-items: start;
	padding: 0 15vh;
	gap: 10vh;
}

.smallBlock>.media-link {
	text-decoration: none;
	font-size: 2.25vh;
	color: #acacac;
}

.imageBx {
	width: 50%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: start;
	z-index: 0;
}

.imageBx>img {
	width: 80%;
}


.mediaLink {
	display: none;
}

#downloadBtn {
	display: block;
	width: fit-content;
	position: relative;
	color: var(--skyblue);
	text-decoration: none;
	padding: 1vh 4vh;
	border: 1px solid;
	border-radius: 10px;
	font-size: 2vh;
	z-index: 9;
	overflow: hidden;
}

#downloadBtn::before {
	content: '';
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 100%;
	left: 0;
	color: var(--white);
	border-radius: 100%;
	background: var(--skyblue);
	transition: all ease 0.25s;
}

#downloadBtn:hover::before {
	height: 100%;
	border-radius: 0px;
	color: #fff;
	top: 0%;
	z-index: -1;
}

#downloadBtn:hover {
	color: var(--white);
}

/* Heading Component started */
.fadedLabel {
	color: #464646;
	text-transform: uppercase;
	position: relative;
	text-align: center;
	font-size: 15vh;
	font-family: baiBold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fadedLabel .heading {
	position: absolute;
	color: var(--white);
	font-family: baiBold;
	font-size: 4.5vh;
	text-decoration: underline;
}

/* Heading Component Ended */
/* About Started */

#about {
	height: 100%;
	width: 100%;
	padding: 04vh;
	overflow-x: hidden;
}

#about .aboutContent {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 4vh 0;
	position: relative;
}

.aboutContent .picDiv {
	width: 50%;
	display: flex;
	/* background: var(--green); */
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.aboutContent .picDiv .bgCont {
	width: 60vh;
	aspect-ratio: 1/1;
	border: 3px solid;
	background: url(./assets/Images/profilePic.jpg);
	background-position: center;
	background-size: cover;
	border-radius: 64% 36% 63% 37%/ 57% 60% 40% 43%;
	animation: blob infinite linear 3s;
}

@keyframes blob {

	0% {
		border-radius: 64% 36% 63% 37%/ 57% 60% 40% 43%;
	}

	25% {
		border-radius: 57% 43% 60% 40% / 63% 64% 36% 37%;
	}

	50% {
		border-radius: 63% 37% 64% 36%/ 60% 57% 43% 40%;
	}

	75% {
		border-radius: 60% 40% 57% 43%/ 64% 63% 37% 36%;
	}

	100% {
		border-radius: 64% 36% 63% 37%/ 57% 60% 40% 43%;
	}
}

.detailCont {
	width: 50%;
	color: var(--white);
	font-size: 2.5vh;
}

.aboutContent .detailCont .detailChart {
	margin-top: 4vh;
	width: fit-content;
	margin-bottom: 2vh;
}

.aboutContent .detailCont .detailChart p {
	padding: 1vh 0;
}

.aboutContent .detailCont .detailChart p:nth-child(1) {
	border-bottom: 2px solid;
}

.aboutContent .detailCont .detailChart p:nth-child(2) {
	border-bottom: 2px solid;
}

.aboutContent .detailCont .detailChart p:nth-child(3) {
	border-bottom: 2px solid;
}

.about {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
}

/* About Ended */

#skill {
	height: 175vh;
	width: 100%;
	padding: 04vh 0;
	position: relative;
}

.h-scroll {
	position: sticky;
	top: 10%;
	left: 0;
}

.wideBx {
	display: flex;
	width: 100%;
	overflow-x: hidden;
	align-items: center;
	justify-content: start;
}

.wideBx::-webkit-scrollbar {
	display: none;
}

.web,
.programming {
	flex-shrink: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	padding: 4vw;
}

.slide h1 {
	font-size: 5vh;
}

.imgCont {
	padding: 5vh 10vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 6vw;
	flex-wrap: wrap;
}

.imgCont .imgBx {
	width: 10%;
	flex-shrink: 0;
}

.imgCont .imgBx img {
	height: 100%;
	width: 100%;
}

.express {

	padding: 20px;
	background: #eee;
	border-radius: 55px;
}

.footer {
	height: 8vh;
	width: 100%;
	text-align: center;
	line-height: 8vh;
	font-size: 2.5vh;
}

.footer>p {
	color: #fff;
}

#education {
	height: 100%;
	width: 100%;
	padding: 4vh;
}

#education .summary .cardContainer {
	display: flex;
	flex-direction: row;
	align-items: start;
	position: relative;
	justify-content: center;
}

.summary .cardContainer .education,
.summary .cardContainer .courses {
	height: 100%;
	position: sticky;
	left: 0;
	top: 10vh;
	width: 50%;
	display: flex;
	margin: 4vh 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white);
	gap: 4vh;
}

.card {
	height: 100%;
	width: 75%;
	padding: 4vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid;
	gap: 1vh;
	border-radius: 14px;
}

.card p:first-child {
	color: #fff;
	background: var(--skyblue);
	font-family: baiRegular;
	width: fit-content;
	/* font-weight:bold; */
	font-size: larger;
	padding: 0.5vh 1vh;
	border-radius: 5px;
}

.card h1 {
	letter-spacing: 2px;
	font-family: baiRegular;
}

.card h2 {
	letter-spacing: 2px;
	font-weight: 500;
	font-family: baiLight;
}

.card a {
	line-height: 3.5vh;
	width: fit-content;
	text-decoration: none;
	color: var(--skyblue);
	font-size: 2.25vh;
}

.card a svg {
	height: 2.25vh;
	transform: translateY(4px);
}

.card p:last-child {
	font-size: 2vh;
	letter-spacing: 1px;
}

.strip {
	/* height: 20vh; */
	width: 100%;
	padding: 2vh 0;
}

.strip .h-strip {
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: start;
	background: var(--skyblue);
	overflow-x: hidden;
	white-space: none;
}

.h-strip::-webkit-scrollbar {
	display: none;
}

.marquee {
	max-width: 100%;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: 3vh;
	padding: 0 2vh;
	flex-wrap: nowrap;
	transform: translateX(-150vw);
}

.marquee h1 {
	font-size: 10vh;
	font-family: cairo;
	text-transform: uppercase;
}

/* .h-strip > .marquee > .webDev , .ui{
  filter:hue-rotate(290deg);
} */
.marquee img {
	width: 18vh;
	filter: grayscale(1);
}

#contact {
	height: 100%;
	width: 100%;
	padding: 0 4vh;
}

.contactBx {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contactForm {
	width: 40%;
	margin: auto;
	padding: 5vh;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.wrapper {
	display: flex;
	width: 100%;
	gap: 5vh;
}

.inputBx {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.inputBx label {
	font-size: 2vh;
}

.inputBx textarea,
.inputBx input {
	outline: none;
	padding: .5vh 1vh;
	border-radius: 10px;
	background: #222;
	border: none;
	resize: none;
	color: #fff;
	font-size: 1.5vh;
}

button {
	background: var(--skyblue);
	width: fit-content;
	padding: 1vh 4vh;
	color: #fff;
	font-size: 2vh;
	border-radius: 10px;
}

@media (min-width: 901px) and (max-width: 1220px) {

	.home-left>.bigBlock>h1 {
		font-size: 2.5vh;
		width: 100%;
	}

	.home-left>.bigBlock>p {
		font-size: 2vh !important;
		margin: 2vh 0;
		padding: 0;
	}
}

@media (max-width: 900px) {
	.cursor {
		display: none;
	}

	#navbar {
		position: sticky !important;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: space-between;
	}

	.logo {
		width: 100%;
	}

	.logo svg {
		height: 100%;
		width: 250px;
	}

	.btn {
		display: block;
		background: none;
		height: 8vh;
		padding: 0;
		margin: 1vh 2vh;
		width: fit-content;
		border: none;
	}

	.btn svg {
		height: 80%;
		width: fit-content;
	}

	.nav-menu {
		display: none;
		position: absolute;
		flex-direction: column;
		top: 0vh;
		left: 0;
		/* filter: blur(20px); */
		align-items: center;
		width: 100%;
		opacity: 0;
		padding: 5vh;
		border: 1px solid #fff;
		transition: all ease 0.25s;
		z-index: 20;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	#home {
		width: 100%;
		height: 100%;
		margin-bottom: 10vh;
		flex-direction: column;
		padding: 0vh;
	}

	#home>.home-left,
	#home>.imageBx {
		/* background: var(--skyblue); */
		height: 100%;
		width: 100%;
		padding: 10vh 2vh 0 2vh;
	}

	#home>.home-left {
		padding: 20vh 0 10vh 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.home-left>.bigBlock {
		padding: 0;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.home-left>.bigBlock>h1,
	.home-left>.bigBlock>p {
		text-align: center;
		width: 100%;
	}

	.home-left>.bigBlock>h1 {
		font-size: 2.75vh;
		width: 100%;
	}

	.home-left>.bigBlock>p {
		font-size: 1.9vh !important;
		margin: 2vh 0;
		padding: 0;
	}

	.home-left>.smallBlock {
		display: none;
	}

	#home>.imageBx {
		height: 75vh;
		padding: 0;
		align-items: center;
		justify-content: center;
	}

	.mediaLink {
		margin: 5vh 0;
		height: 100%;
		width: 100%;
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.mediaLink>span {
		height: 40px;
		width: 40px;
		position: absolute;
		border-right: 2px solid var(--skyblue);
		border-bottom: 2px solid var(--skyblue);
		transform: rotate(45deg);
		animation: pulse infinite .5s;
	}

	.mediaLink>span:nth-child(2) {
		top: 0px;
	}

	.mediaLink>span:nth-child(3) {
		top: 20px;
	}

	.fadedLabel {
		font-size: 12.5vw;
	}

	.fadedLabel .heading {
		font-size: 4vw;
	}

	#about {
		padding: 0;
		height: 100%;
		width: 100%;
	}

	#about .aboutContent {
		flex-direction: column;
		height: fit-content;
		width: 100%;
		padding: 2vh;
	}

	.aboutContent .picDiv {
		/* background: var(--green); */
		width: 100%;
	}

	.aboutContent .picDiv .bgCont {
		width: 75%;
	}

	.aboutContent .detailCont {
		width: 100%;
		padding: 4vh 2vh;
		font-size: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.aboutContent .detailCont .detailChart {
		margin-top: 4vh;
	}

	.aboutContent .detailCont .detailChart p {
		padding: 1vh 0;
	}

	.aboutContent .detailCont .detailChart p:nth-child(1) {
		border-bottom: 2px solid;
	}

	.aboutContent .detailCont .detailChart p:nth-child(2) {
		border-bottom: 2px solid;
	}

	.aboutContent .detailCont .detailChart p:nth-child(3) {
		border-bottom: 2px solid;
	}

	.strip {
		display: none;
	}

	#skill {
		width: 100%;
	}

	.slide h1 {
		font-size: 3vh;
	}

	.imgCont {
		padding: 2vh 5vh;
		gap: 2vh;
		flex-wrap: wrap;
	}

	.imgCont .imgBx {
		width: 35%;
		flex-shrink: 0;
	}

	#education {
		height: 100%;
		width: 100%;
		padding: 2vh;
	}

	#education .summary .cardContainer {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
	}

	.summary .cardContainer .education,
	.summary .cardContainer .courses {
		height: 100%;
		position: static;
		width: 100%;
		margin: 2vh 0;
		padding: 0 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: var(--white);
		gap: 4vh;
	}

	.summary .cardContainer .education>h1,
	.summary .cardContainer .courses>h1 {
		font-size: 2.5vh;
	}

	.card {
		height: 100%;
		width: 100%;
		padding: 3vh;
		display: flex;
		gap: .5vh;
		flex-direction: column;
		justify-content: space-between;
		border: 1px solid;
		border-radius: 14px;
	}

	.card p:first-child {
		color: #fff;
		background: var(--skyblue);
		font-family: baiRegular;
		width: fit-content;
		font-size: 1.5vh;
		padding: 0.5vh 1vh;
		border-radius: 5px;
	}

	.card h1 {
		letter-spacing: 2px;
		font-size: 2.5vh !important;
		font-family: baiRegular;
	}

	.card h2 {
		font-size: 1.9vh;
		letter-spacing: 2px;
		font-weight: 500;
		font-family: baiLight;
	}

	.card a {
		line-height: 2vh;
		text-decoration: none;
		color: var(--skyblue);
		font-size: 1.8vh;
	}

	.card a svg {
		height: 1.9vh;
		transform: translateY(4px);
	}

	.card p:last-child {
		font-size: 2vh;
		letter-spacing: 1px;
	}

	.contactForm {
		width: 100%;
		margin: auto;
		padding: 5vh 2vh;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 1vh;
	}

	.footer {
		font-size: 2vh;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}